<h1 id="tableLabel">Cervejas</h1>

<p>Listagem das cervejas cadastradas</p>

<div style="margin:25px 0;"></div>

<nz-divider nzText="Filtros"></nz-divider>

<div nz-row>
  <div nz-col nzSpan="8">
    <nz-form-label>Nome</nz-form-label>
    <input type="text" class="form-control" id="nome" [(ngModel)]="nome">
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="7">
    <nz-form-label>Ingredientes</nz-form-label>
    <input type="text" class="form-control" id="ingredientes" [(ngModel)]="ingredientes">
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="7">
    <nz-form-label>Cor</nz-form-label>
    <select class="form-control" name="corSelecionada" [(ngModel)]="corSelecionada">
      <option *ngFor="let color of cores">{{color}}</option>
    </select>
  </div>
</div>

<div style="margin:15px 0;"></div>

<div nz-row>
  <div nz-col nzSpan="8">
    <nz-form-label>Teor Alcoolico</nz-form-label>
    <input type="number" class="form-control" id="teorAlcoolico" [(ngModel)]="teorAlcoolico">
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="7">
    <nz-form-label> Temperatura</nz-form-label>
    <input type="number" class="form-control" id="temperatura" [(ngModel)]="temperatura">
  </div>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="7">
    <div style="margin:47px 0;"></div>
    <button type="button" class="form-control" (click)="fetchData()">Filtrar</button>
  </div>
</div>

<div style="margin:25px 0;"></div>

<nz-divider></nz-divider>

<div style="margin:25px 0;"></div>

<p *ngIf="!cervejas"><em>Carregando...</em></p>

<div [ngClass]="alertBox" role="alert" *ngFor="let mensagem of mensagens">{{ mensagem }}</div>

<nz-table #basicTable
          [nzHideOnSinglePage]="true"
          [nzNoResult]="'Nenhum registro localizado'"
          [nzData]="cervejas">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Teor Alcoolico</th>
      <th>Temperatura</th>
      <th>Ingredientes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cerveja of basicTable.data">
      <td>{{ cerveja.nome }}</td>
      <td>{{ cerveja.categoria }}</td>
      <td>{{ cerveja.teorAlcoolico }}</td>
      <td>{{ cerveja.temperaturaInicial }} - {{ cerveja.temperaturaFinal }}</td>
      <td>{{ cerveja.ingredientes }}</td>
      <td>
        <a [routerLink]="['/visualizacao-cerveja',cerveja.id]">Visualizar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a [routerLink]="['/edicao-cerveja',cerveja.id]">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="excluirCerveja(cerveja.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Atenção!"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Deseja excluir o item selecionado?</p>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Confirmar</button>
  </div>
</nz-modal>
