<h1 id="tableLabel">Cervejas</h1>

<p>Listagem das cervejas cadastradas</p>

<nz-divider></nz-divider>

<p *ngIf="!cervejas"><em>Carregando...</em></p>

<div [ngClass]="alertBox" role="alert" *ngFor="let mensagem of mensagens">{{ mensagem }}</div>

<nz-table #basicTable
          [nzHideOnSinglePage]="true"
          [nzNoResult]="'Nenhum registro localizado'"
          [nzData]="cervejas">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Teor Alcoolico</th>
      <th>Temperatura</th>
      <th>Ingredientes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cerveja of basicTable.data">
      <td>{{ cerveja.nome }}</td>
      <td>{{ cerveja.categoria }}</td>
      <td>{{ cerveja.teorAlcoolico }}</td>
      <td>{{ cerveja.temperaturaInicial }} - {{ cerveja.temperaturaFinal }}</td>
      <td>{{ cerveja.ingredientes }}</td>
      <td>
        <a [routerLink]="['/edicao-cerveja',cerveja.id]">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="excluirCerveja(cerveja.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Atenção!"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Deseja excluir o item selecionado?</p>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Confirmar</button>
  </div>
</nz-modal>
